@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap");

br {
  size: 0ch;
}

body {
  background-color: #f7fafc !important;
  margin: 0 auto;
  color: #000000 !important;
  line-height: 1.6;
  overflow-x: hidden;
  font-family: "Allerta", sans-serif !important;
}



/* Navbar */
.navbar {
  background: #f7fafc !important;
  min-height: 120px;
  border-bottom: #000000 3px solid;
  box-shadow: none!important;
  
}

.navbar a {
  font-size: 1rem;
  color: #0197f6 !important;
  padding-left: 1.5rem !important;
  font-family: "Montserrat", sans-serif;
  
  
}

.active1 {
  background-image: url("./components/Navbar/Page-Indicator-MicInt.gif");
   background-repeat: no-repeat;
  background-size: 25px;
  background-position-x: left;
    background-position-y: center; 
  text-align: center;
}

nav .toggler {
margin: 2rem!important;
padding-bottom: 3rem!important;
}

.navbar-light .navbar-toggler-icon {
  background: none !important;
}

button:focus {
  outline: none!important;
}

.btn-color:hover {
  background-color: #0197f6!important;
  color: #ffffff!important;
}

.btn-color {
  border: 2px solid #0197f6!important;
border-radius: 20px!important;
}

/* Navbar */

/* Showcase */
.showcase h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
  font-size: 2.2rem;
}



/* Showcase */

/* Homecasestudy */

.Homecasestudy .card {
  color: white;
  width: 20rem;

}

.Homecasestudy .card a {
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.8rem !important;
}

.Homecasestudy .card a:hover, .Homecasestudy .card a:active {
  background-color: #0197f6!important;
  color: #ffffff;
}


.Homecasestudy #service {
  background-color: transparent;
  box-shadow: none;
}

.Homecasestudy img{
height: 15rem;
width: 18rem;

}

.Homecasestudy .card-bg:hover,
.Homecasestudy .card-bg:focus, .Homecasestudy img:hover
 {
  background-color: #0077fdb3;
  
}

.Homecasestudy h6.card-title {
  text-transform: uppercase;
}
/* Homecasestudy */


/* Partners */

.partners {
  margin-top: 5rem !important;
}

.partners .card {
  color: white;
  width: 20rem;

}

.partners .card a {
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.8rem !important;
}

.partners .card a:hover, .partners .card a:active {
  background-color: #0197f6!important;
  color: #ffffff;
}


.partners #service {
  background-color: transparent;
  box-shadow: none;
}
.partners h6 {
  font-size: 0.8rem!important;
  
}

.partners img{
height: 15rem;
width: 20rem;


}

.partners .card-bg:hover,
.partners .card-bg:focus, .partners img:hover
 {
  background-color: #0077fdb3;
  
}

/* Partners */

/* casestudy */

.casestudy .card {
  background-color: transparent !important;

  border: 0 !important;
}

.casestudy p {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.casestudy h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.casestudy a {
  border-radius: 20px;
}

.casestudy .card.mt-3 {
  border: none !important;
  box-shadow: none!important;
}

.casestudy .card.mt-5 {
  border: none !important;
  box-shadow: none!important;
}

/* .casestudy video:hover,
.casestudy video:focus {
  background-image: linear-gradient(#0077fdb3, #0077fdb3);
  background-size: cover;
} */

/* casestudy */


/* article */

.article .card {
  color: white;
  width: 20rem;
  background-color: transparent;
}

.article .card a {
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.8rem !important;
}

.article .card a:hover, .article .card a:active {
  background-color: #0197f6!important;
  color: #ffffff;
}


.article #article {
  background-color: transparent;
  box-shadow: none;
}

.article img{
height: 15rem;
width: 25rem;

}

.article .card-bg:hover,
.article .card-bg:focus, .article img:hover
 {
  background-color: #0077fdb3;


}

/* article */

/* About */

.about .talk,
.about .here {
  color: #0197f6;

  font-family: "Montserrat", sans-serif;
}

/* About */

/* Footer */
footer .icons {
  float: left !important;
}

footer .box-icon {
  padding: 0.8rem;
  text-align: center !important;
}

footer .footer {
  background-color: #0197f6;
  padding: 2rem;
}

/* Footer */

/* Media Query for Tablet device */
/* Media Query for Tablet device */

@media (max-width: 768px) { 
  /* Homecasestudy */
  
  .Homecasestudy .card {
    color: white;
    width: 15rem;
  
  }
  
  .Homecasestudy .card a {
    padding: 0.5rem!important;
    font-size: 0.5rem !important;
  }
  
  .Homecasestudy img{
  height: 10rem;
  width: 15rem;
  
  }
  
  
  
  /* Homecasestudy */
  
  /* partners */
  
  .partners .card {
    color: white;
    width: 15rem;
  
  }
  
  .partners img{
  height: 10rem;
  width: 13rem;
  
  }
  .partners h6 {
    font-size: 0.7rem!important;
    
  }
  
  /* partners */
  
    }
    
    
    /* Media Query for Tablet device */
    /* Media Query for Tablet device */



/* Media Query for Tablet device */
/* Media Query for Tablet device */

@media (max-width: 768px) { 
/* Homecasestudy */

.Homecasestudy .card {
  color: white;
  width: 15rem;

}

.Homecasestudy .card a {
  padding: 0.5rem!important;
  font-size: 0.5rem !important;
}

.Homecasestudy img{
height: 10rem;
width: 15rem;

}



/* Homecasestudy */

/* partners */

.partners .card {
  color: white;
  width: 15rem;

}

.partners img{
height: 10rem;
width: 13rem;

}
.partners h6 {
  font-size: 0.7rem!important;
  
}


/* partners */



  }
  
  
  /* Media Query for Tablet device */
  /* Media Query for Tablet device */
  
  
  /* Media Query for mobile device */
  /* Media Query for mobile device */
  
  
  @media screen and (max-width: 580px) {

    /* Homecasestudy */
    .Homecasestudy .card {
      color: white;
      width: 20rem;
      margin-left: auto!important;
      margin-right: auto!important;
    }
    
    .Homecasestudy .card a {
      border-radius: 20px;
      font-weight: 600;
      font-size: 0.8rem !important;
    }
 
    .Homecasestudy img{
    height: 15rem;
    width: 18rem;
    
    }
    
  /* Homecasestudy */


    .partners {
      margin-top: 5rem !important;
    }
    
    .partners .card {
      color: white;
      width: 20rem;
      margin-left: auto!important;
      margin-right: auto!important;
      margin-bottom: 1rem;
    
    }
    
    .partners .card a {
      border-radius: 20px;
      font-weight: 600;
      font-size: 0.8rem !important;
    }
  
    .partners h6 {
      font-size: 0.8rem!important;
      
    }
    
    .partners img{
    height: 15rem;
    width: 20rem;
    
    
    }
   
    
    /* Partners */
    
    
  
  }
  
  /* Media Query for mobile device */
  /* Media Query for mobile device */